html,body{
    scroll-behavior: smooth !important;
    text-align: right;
}

.txt-on-parallax>p{
    position: absolute;
    top: 40%;
    left: 70%;
    font-size: 3em;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }